<header class="flex justify-evenly p-5 mb-20">
  <div>
    <h1 class="text-xl">yxsifdev</h1>
  </div>
  <nav class="flex gap-5">
    <a href="#" class="hover:text-yellow-300 transition">Inicio</a>
    <a href="#" class="hover:text-yellow-300 transition">Blog</a>
    <a href="#" class="hover:text-yellow-300 transition">Otros</a>
  </nav>
</header>
