---
import yxsifdevProfile from "@/imgs/yxsifdev-profile.webp";
---

<div
    class="border-borderColor flex h-[400px] w-full max-w-full flex-wrap items-start justify-center gap-5 overflow-y-auto rounded-lg border p-5 lg:h-[630px] lg:w-[500px]"
>
    <!-- Card 1 -->
    <div
        class="bg-secondary/50 w-[200px] rounded-lg backdrop-blur-lg transition hover:scale-[1.02]"
    >
        <img
            src={yxsifdevProfile.src}
            alt="profile"
            class="h-32 w-full rounded-t-lg"
        />
        <div class="p-2">
            <a href="#" class="font-medium text-yellow-400 hover:underline"
                >Essentials Cloud</a
            >
            <p class="text-gray-300">Comunidad enfocada al desarrollo web</p>
        </div>
    </div>
    <!-- Card 2 -->
    <div
        class="bg-secondary/50 w-[200px] rounded-lg backdrop-blur-lg transition hover:scale-[1.02]"
    >
        <img
            src={yxsifdevProfile.src}
            alt="profile"
            class="h-32 w-full rounded-t-lg"
        />
        <div class="p-2">
            <a href="#" class="font-medium text-yellow-400 hover:underline"
                >Essentials Cloud UI</a
            >
            <p class="text-gray-300">
                Web de componentes hechos con TailwindCSS
            </p>
        </div>
    </div>
    <!-- Card 3 -->
    <div
        class="bg-secondary/50 w-[200px] rounded-lg backdrop-blur-lg transition hover:scale-[1.02]"
    >
        <img
            src={yxsifdevProfile.src}
            alt="profile"
            class="h-32 w-full rounded-t-lg"
        />
        <div class="p-2">
            <h1 class="font-medium text-yellow-400">Essentials Cloud UI</h1>
            <p class="text-gray-300">
                Web de componentes hechos con TailwindCSS
            </p>
        </div>
    </div>
    <!-- Card 4 -->
    <div
        class="bg-secondary/50 w-[200px] rounded-lg backdrop-blur-lg transition hover:scale-[1.02]"
    >
        <img
            src={yxsifdevProfile.src}
            alt="profile"
            class="h-32 w-full rounded-t-lg"
        />
        <div class="p-2">
            <h1 class="font-medium text-yellow-400">Essentials Cloud UI</h1>
            <p class="text-gray-300">
                Web de componentes hechos con TailwindCSS
            </p>
        </div>
    </div>
</div>
